@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  background-color: #e5eef4;
  font-weight: 400;
  scrollbar-color: #ccc #eee;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  scroll-behavior: smooth;
  /* độ dày chữ : 400 mặc định */
}
/* Ẩn FormProfile mặc định */

.FormProfile {
  display: none;
}

/* Hiển thị FormProfile khi checkbox được chọn */
input[type="checkbox"]:checked ~ .FormProfile {
  display: block;
}
